.quadrado{
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #c0392b, #2980b9);
    position: absolute;
    right: 0px;
}

.quadrado-maior{
    width: 300px;
    height: 300px;
    border: solid 2px crimson;
    position: relative;
}

